BOT_TOKEN=your_telegram_bot_token_here
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=ege_helper
POSTGRES_USER=ege_user
POSTGRES_PASSWORD=ege_password
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
